<h2 class="text-200 font-bold text-3xl text-center mt-8 relative custom-underline">
    Sobre mí
</h2>

<div class="grid  flex justify-content-center mt-3">
    <div class="col-12 md:col-10 border-round  shadow-7 p-5 ">
        <div class="grid flex justify-content-center">
            <div class="col-12 md:col-4 flex align-items-center ">
                <div class="image-wrapper">
                    <img src="hero_setup.png" class="w-15rem h-15rem " alt="Image">
                </div>
            </div>
            <div class="col-12 md:col-7 border-round text-200 flex-column justify-content-center">
                <p class="text-sm text-400 text-left">
                    Soy Cristian Orizano, desarrollador Full Stack apasionado por la tecnología y la
                    resolución de problemas. Me motiva crear soluciones eficientes, escalables y de calidad,
                    mientras sigo perfeccionando mis habilidades y adoptando nuevas herramientas y metodologías.
                </p>

                <p class="text-sm text-400 text-left">
                    Me mantengo en aprendizaje continuo, explorando nuevas tecnologías y mejores prácticas
                    para crecer como profesional y aportar en proyectos desafiantes.
                    Mi objetivo es enfrentar retos tecnológicos con soluciones creativas y bien estructuradas,
                    adaptándome a las nuevas tendencias y contribuyendo con mayor valor en cada proyecto.
                </p>
            </div>
        </div>
    </div>
</div>