<h2 class="text-white text-center mt-8">About Me</h2>
<div class="grid  flex justify-content-center mt-4">
    <div class="col-12 md:col-9 border-round border-neon bg-about shadow-8 p-5 ">
        <div class="grid flex justify-content-center">
            <div class="col-12 md:col-4 px-5  flex align-items-center">
                <img src="red.jpeg" class="border-round shadow-8  border-circle w-14rem h-14rem " alt="Image" style="
                height: auto;
                object-fit: contain;">
            </div>
            <div class="col-12 md:col-6 border-round text-200 flex-column justify-content-center">
                <p class="text-sm ">
                    Soy Cristian Orizano, desarrollador Full Stack apasionado por la tecnología y la
                    resolución de problemas. Disfruto creando soluciones eficientes y escalables, mientras mejoro mis
                    habilidades y aprendo nuevas herramientas y metodologías.

                </p>
                <p class="text-sm">
                    Me mantengo en aprendizaje continuo, explorando nuevas tecnologías y mejores prácticas para seguir
                    creciendo y contribuir a proyectos desafiantes.
                </p>
            </div>
        </div>
    </div>
</div>