.bg-skill {
  background-color: #151e2f;
  background: linear-gradient(to right, #1c1329, #141125);
}

.bg-skill svg path {
  fill: #dbe9ec; /* Color único para todos los íconos */
  stroke: #c5c4c4; /* Borde blanco para mejor visibilidad */
  stroke-width: 0.5;
}

.bg-skill svg {
  filter: drop-shadow(2px 2px 5px rgba(129, 159, 165, 0.5)); /* Resplandor */
}

.button-card {
  color: white;
}
.button-card:hover {
  background: linear-gradient(to top left, #ff512f, #dd2476);
  color: #ffffff;
  box-shadow: 0 0 12px rgba(246, 27, 140, 0.4);
  transform: scale(1.03); /* ligero zoom */
}

.hover-zoom {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.hover-zoom:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

p {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-optical-sizing: auto;
  color: #9ca3af;
}

.custom-underline::after {
  content: "";
  display: block;
  height: 4px;
  width: 100px; /* puedes ajustar el ancho */
  margin: 0 auto;
  margin-top: 8px;
  background: linear-gradient(
    to right,
    #d9d7d7 0%,
    #ece8e8 50%,
    #ff512f 50%,
    #dd2476 100%
  );
}

.text-sub {
  background: #ff4b2b;
  background: linear-gradient(to bottom, #ff4b2b, #ff416c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::ng-deep .custom-btn.p-button {
  font-family: "Inter", sans-serif;

  background: #ff4b2b;
  background: linear-gradient(to bottom, #ff4b2b, #ff416c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #ff416c; /* mismo amarillo que warning */
}

::ng-deep .custom-btn.p-button:hover {
  background-color: #fb2c36;
  color: #ffffff;
  box-shadow: 0 0 13px rgba(246, 27, 140, 0.4);
  transform: scale(1.04); /* ligero zoom */
}

::ng-deep .custom-btn.p-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); /* efecto focus */
}
