h2 {
  filter: drop-shadow(1px 2px 5px rgba(0, 212, 255, 0.5));
}

.bg-skill {
  background: #000a1f;
  background: linear-gradient(
    to right,
    #000000,
    #0a0f1f,
    #0c1424,
    #101622,
    #000000
  );
  filter: drop-shadow(2px 5px 5px rgba(0, 212, 255, 0.5)); /* Resplandor */
}

.bg-skill svg path {
  fill: #dbe9ec; /* Color único para todos los íconos */
  stroke: #c5c4c4; /* Borde blanco para mejor visibilidad */
  stroke-width: 0.5;
}

.bg-skill svg {
  filter: drop-shadow(2px 2px 5px rgba(0, 212, 255, 0.5)); /* Resplandor */
}

@keyframes neon-border {
  0% {
    border-image-source: linear-gradient(45deg, lime, turquoise);
  }
  25% {
    border-image-source: linear-gradient(135deg, turquoise, dodgerblue);
  }
  50% {
    border-image-source: linear-gradient(225deg, dodgerblue, violet);
  }
  75% {
    border-image-source: linear-gradient(315deg, violet, lime);
  }
  100% {
    border-image-source: linear-gradient(45deg, lime, turquoise);
  }
}

.border-neon {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-image-slice: 1;
  border-radius: 6px;
  animation: neon-border 5s infinite linear;
}
.p-button-success {
  background: #ec008c;
  background: linear-gradient(to right, #ec008c, #fc6767);
  border: none;
  color: white;
  transition: 0.3s;
}
