h2 {
  filter: drop-shadow(1px 2px 5px rgba(0, 212, 255, 0.5));
}

.bg-skill {
  background-color: #0f1624;
  background: linear-gradient(to right, #0f1624, #1c1a2e);
}

.bg-skill svg path {
  fill: #dbe9ec; /* Color único para todos los íconos */
  stroke: #c5c4c4; /* Borde blanco para mejor visibilidad */
  stroke-width: 0.5;
}

.bg-skill svg {
  filter: drop-shadow(2px 2px 5px rgba(0, 212, 255, 0.5)); /* Resplandor */
}

@keyframes neon-border {
  0% {
    border-image-source: linear-gradient(45deg, lime, turquoise);
  }
  25% {
    border-image-source: linear-gradient(135deg, turquoise, dodgerblue);
  }
  50% {
    border-image-source: linear-gradient(225deg, dodgerblue, violet);
  }
  75% {
    border-image-source: linear-gradient(315deg, violet, lime);
  }
  100% {
    border-image-source: linear-gradient(45deg, lime, turquoise);
  }
}

.border-neon {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-image-slice: 1;
  border-radius: 6px;
  animation: neon-border 5s infinite linear;
  mask-image: radial-gradient(circle, white 95%, transparent);
}
.button-card {
  color: white;
}
.button-card:hover {
  background-color: #fb2c36;
  color: #ffffff;
  box-shadow: 0 0 12px rgba(246, 27, 140, 0.4);
  transform: scale(1.03); /* ligero zoom */
}

.hover-zoom {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.hover-zoom:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
