<h2 class="text-white text-center mt-8">Projects</h2>
<div class="grid  flex justify-content-center mt-4">
    <div class="col-12 md:col-10 border-round border-neon shadow-8 p-5 bg-skill mb-5">
        <div class="grid flex justify-content-center ">
            <div class="col-12 md:col-5 flex align-items-center">
                <div class="card">
                    <p-galleria [value]="imagesElectroDash" [responsiveOptions]="responsiveOptions" [circular]="true"
                        [numVisible]="3" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true"
                        [showItemNavigators]="true">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item.itemImageSrc" class="border-round" width="100%"
                                style="object-fit: contain;" />
                        </ng-template>
                    </p-galleria>
                </div>
            </div>
            <div class="col-12 md:col-7 px-5">
                <h1 class="text-2xl font-bold text-100">Electro Dash</h1>
                <p class="mt-2 text-sm text-300">
                    Proyecto Electro Dash es una aplicación de gestión diseñada para tiendas de productos electrónicos.
                    Ofrece una plataforma intuitiva y funcional para administrar ventas, clientes, inventario y más. Con
                    herramientas de reportes y análisis gráfico, ayuda a optimizar operaciones eficientemente.
                </p>
                <h2 class="mt-3 font-semibold text-xl text-100 mt-4">Tecnologías</h2>
                <p class="flex flex-wrap gap-3">
                    <app-icon name="css"></app-icon>
                    <app-icon name="angular"></app-icon>
                    <app-icon name="primeNG"></app-icon>
                    <app-icon name="java"></app-icon>
                    <app-icon name="spring"></app-icon>
                    <app-icon name="jwt"></app-icon>
                    <app-icon name="mysql"></app-icon>
                </p>

                <p-divider />
                <div class="mt-4 flex justify-content-between">
                    <button pButton pRipple label="View Demo" size="small" (click)="displayVideoDialogElectro = true"
                        class="p-button-success"></button>

                    <div class="flex gap-5 text-white">
                        <div class="flex gap-2 align-items-center">
                            <a href="https://github.com/CristianOrizano/App-ElectroDash-Angular" target="_blank"
                                class="flex gap-2 align-items-center px-2 py-1 border-round rounded-md transition-all hover:bg-gray-700 no-underline">
                                <app-icon name="github" class="text-2xl"></app-icon>
                                <span class="text-sm font-medium text-white">Front</span>
                            </a>

                        </div>

                        <div class="flex gap-2 align-items-center">
                            <a href="https://github.com/CristianOrizano/App-ElectroDash-Backend" target="_blank"
                                class="flex gap-2 align-items-center px-2 py-1 border-round rounded-md transition-all hover:bg-gray-700 no-underline">
                                <app-icon name="github" class="text-2xl"></app-icon>
                                <span class="text-sm font-medium text-white">Back</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-10 border-round border-neon shadow-8 p-5 bg-skill mb-5">
        <div class="grid flex justify-content-center ">
            <div class="col-12 md:col-5 flex align-items-center">
                <div class="card">
                    <p-galleria [value]="imagesFusionFood" [responsiveOptions]="responsiveOptions" [circular]="true"
                        [numVisible]="3" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true"
                        [showItemNavigators]="true">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item.itemImageSrc" class="border-round" width="100%"
                                style="object-fit: contain;" />
                        </ng-template>
                    </p-galleria>
                </div>
            </div>
            <div class="col-12 md:col-7 px-5">
                <h1 class="text-2xl font-bold text-100">Fusion Food</h1>
                <p class="mt-2 text-sm text-300">
                    FusionFood es una plataforma en línea que brinda a los clientes una experiencia completa para
                    realizar pedidos de comida. Además, ofrece a los restaurantes un dashboard integral para gestionar
                    sus operaciones de manera eficiente.
                </p>
                <h2 class="mt-3 font-semibold text-xl text-100">Tecnologías</h2>
                <p class="flex flex-wrap gap-3">
                    <app-icon name="css"></app-icon>
                    <app-icon name="react"></app-icon>
                    <app-icon name="vite"></app-icon>
                    <app-icon name="csharp"></app-icon>
                    <app-icon name="net"></app-icon>
                    <app-icon name="jwt"></app-icon>
                    <app-icon name="sqlserver"></app-icon>

                </p>

                <p-divider />
                <div class="mt-4 flex justify-content-between">
                    <button pButton pRipple label="View Demo" size="small" (click)="displayVideoDialogFusion = true"
                        class="p-button-success"></button>

                    <div class="flex gap-5 text-white">
                        <div class="flex gap-2 align-items-center">
                            <a href="https://github.com/CristianOrizano/App-FusionFood-React" target="_blank"
                                class="flex gap-2 align-items-center px-2 py-1 border-round rounded-md transition-all hover:bg-gray-700 no-underline">
                                <app-icon name="github" class="text-2xl"></app-icon>
                                <span class="text-sm font-medium text-white">Front</span>
                            </a>

                        </div>

                        <div class="flex gap-2 align-items-center">
                            <a href="https://github.com/CristianOrizano/App-FusionFood-Backend" target="_blank"
                                class="flex gap-2 align-items-center px-2 py-1 border-round rounded-md transition-all hover:bg-gray-700 no-underline">
                                <app-icon name="github" class="text-2xl"></app-icon>
                                <span class="text-sm font-medium text-white">Back</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-10 border-round border-neon shadow-8 p-5 bg-skill mb-5">
        <div class="grid flex justify-content-center ">
            <div class="col-12 md:col-5 flex align-items-center">
                <div class="card">
                    <p-galleria [value]="imagesPelisflix" [responsiveOptions]="responsiveOptions" [circular]="true"
                        [numVisible]="3" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true"
                        [showItemNavigators]="true">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item.itemImageSrc" class="border-round" width="100%"
                                style="object-fit: contain;" />
                        </ng-template>
                    </p-galleria>
                </div>
            </div>
            <div class="col-12 md:col-7 px-5">
                <h1 class="text-2xl font-bold text-100">Pelisflix</h1>
                <p class="mt-2 text-sm text-300">
                    PelisFlix es una aplicación web que permite explorar y buscar películas en tiempo real. Ofrece
                    detalles completos de cada título y una interfaz intuitiva para una experiencia de navegación
                    fluida.
                </p>
                <h2 class="mt-3 font-semibold text-xl text-100">Tecnologías</h2>
                <p class="flex flex-wrap gap-3">
                    <app-icon name="css"></app-icon>
                    <app-icon name="javascript"></app-icon>
                    <app-icon name="react"></app-icon>
                    <app-icon name="vite"></app-icon>
                    <app-icon name="nodejs"></app-icon>

                </p>

                <p-divider />
                <div class="mt-4 flex justify-content-between">
                    <a pButton pRipple label="View Demo" size="small" class="p-button-success no-underline"
                        href="https://app-pelisflix-react-cristiano.netlify.app/" target="_blank">
                    </a>

                    <div class="flex gap-5 text-white">
                        <div class="flex gap-2 align-items-center">
                            <a href="https://github.com/CristianOrizano/App-Pelisflix-React" target="_blank"
                                class="flex gap-2 align-items-center px-2 py-1 border-round rounded-md transition-all hover:bg-gray-700 no-underline">
                                <app-icon name="github" class="text-2xl"></app-icon>
                                <span class="text-sm font-medium text-white">Front</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-10 border-round border-neon shadow-8 p-5 bg-skill mb-5">
        <div class="grid flex justify-content-center ">
            <div class="col-12 md:col-5 flex align-items-center">
                <div class="card">
                    <p-galleria [value]="imagesMicros" [responsiveOptions]="responsiveOptions" [circular]="true"
                        [numVisible]="3" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true"
                        [showItemNavigators]="true">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item.itemImageSrc" class="border-round" width="100%"
                                style="object-fit: contain;" />
                        </ng-template>
                    </p-galleria>
                </div>
            </div>
            <div class="col-12 md:col-7 px-5">
                <h1 class="text-2xl font-bold text-100">Sistema de Microservicios</h1>
                <p class="mt-2 text-sm text-300">
                    Proyecto de práctica para explorar arquitectura de microservicios con Spring Boot, integrando Eureka
                    Server, Config Server, API Gateway y Kafka para comunicación asíncrona. También incluye Zipkin para
                    el rastreo de solicitudes.
                </p>
                <h2 class="mt-3 font-semibold text-xl text-100">Tecnologías</h2>
                <p class="flex flex-wrap gap-3">
                    <app-icon name="spring"></app-icon>
                    <app-icon name="jwt"></app-icon>
                    <app-icon name="swager"></app-icon>
                    <app-icon name="docker"></app-icon>
                    <app-icon name="kafka"></app-icon>
                    <app-icon name="mysql"></app-icon>
                </p>

                <p-divider />
                <div class="mt-4 flex justify-content-between">
                    <a pButton pRipple label="View Demo" size="small" class="p-button-success no-underline"
                        target="_blank">
                    </a>

                    <div class="flex gap-5 text-white">
                        <div class="flex gap-2 align-items-center">
                            <a href="https://github.com/CristianOrizano/App-Microservicios-SpringBoot" target="_blank"
                                class="flex gap-2 align-items-center px-2 py-1 border-round rounded-md transition-all hover:bg-gray-700 no-underline">
                                <app-icon name="github" class="text-2xl"></app-icon>
                                <span class="text-sm font-medium text-white">Back</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]=" displayVideoDialogFusion" [modal]="true" [header]="'Resumen del Proyecto'" [closable]="true"
    [style]="{width: '50vw'}">
    <div class="flex justify-content-center">
        <video width="100%" height="auto" controls>
            <source
                src="https://cootmmrdxzpnnjatpixg.supabase.co/storage/v1/object/public/Angular-Image/video/fusionfood.mp4"
                type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
    </div>
</p-dialog>

<p-dialog [(visible)]="displayVideoDialogElectro" [modal]="true" [header]="'Resumen del Proyecto'" [closable]="true"
    [style]="{width: '50vw'}">
    <div class="flex justify-content-center">
        <video width="100%" height="auto" controls>
            <source
                src="https://cootmmrdxzpnnjatpixg.supabase.co/storage/v1/object/public/Angular-Image/video/electrodasdemo.mp4"
                type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
    </div>
</p-dialog>