p {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #9ca3af;
}

.bg-title {
  background: white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-subtitle {
  background: linear-gradient(to top left, #ff512f, #dd2476);
  -webkit-background-clip: text;
  background-clip: text; /* Propiedad estándar */
  -webkit-text-fill-color: transparent;
}

.cursor {
  display: inline-block;
  width: 8px;
  background-color: white;
  animation: blink 0.7s infinite;
}
.button-card:hover {
  background: linear-gradient(to top left, #ff512f, #dd2476);
  color: #ffffff;
  box-shadow: 0 0 12px rgba(246, 27, 140, 0.4);
  transform: scale(1.03); /* ligero zoom */
}

/* Estilos base del menú */
.custom-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 15px 0;
  transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

/* Lista dentro del menú */
.custom-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos de los elementos del menú */
.custom-menu ul li {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500; /* ⬅️ Negrita */
  position: relative; /* Necesario para la línea animada */

  filter: drop-shadow(1px 2px 5px rgba(0, 212, 255, 0.5));
  transition: color 0.3s ease-in-out;
}

/* Línea animada debajo del elemento */
.custom-menu ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px; /* Posición de la línea */
  width: 0%;
  height: 3px;
  background: #ff416c;
  box-shadow: 0 0 10px #ff6a00, 0 0 25px #ff8800, 0 0 35px #ff416c;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Efecto hover cuando el mouse pasa sobre el elemento */
.custom-menu ul li:hover {
  font-weight: 500; /* ⬅️ Negrita */
  color: #ff416c;
}

/* Animación de la línea en hover */
.custom-menu ul li:hover::after {
  width: 100%;
  left: 0;
}

/* Fondo opaco cuando el usuario hace scroll */
.scrolled {
  background: rgba(0, 0, 0, 0.8); /* Negro con opacidad */
  padding: 10px 0;
}

@media (max-width: 768px) {
  .icon-links {
    flex-direction: column;
    align-items: center;
  }
}
