<nav class="custom-menu" [class.scrolled]="isScrolled">
    <ul>
        <li *ngFor="let item of items" (click)="scrollTo(item.section)" [class.active]="activeSection === item.section">
            {{ item.label }}
        </li>
    </ul>
</nav>

<section id="home" class="" style="margin-top: 100px;">
    <div class="container">
        <div
            class="grid grid-nogutter border-neon  bg-banner border-round shadow-8 flex justify-content-center  text-800">
            <div class="col-12 md:col-7 px-4 py-4 text-center md:text-left flex align-items-center">
                <section>
                    <span class="block text-4xl md:text-5xl lg:text-6xl font-bold mb-1 bg-title fade-in">Hola, soy
                        Cristian Orizano</span>
                    <div class="text-2xl md:text-3xl lg:text-4xl font-bold mb-3 bg-subtitle">
                        {{ typedText }}
                        <span class="cursor">|</span> <!-- Efecto de cursor parpadeante -->
                    </div>

                    <!-- Íconos clickeables con borde -->
                    <div class="flex align-items-center gap-3 mt-6 icon-links">
                        <a href="mailto:cristianorizano57@gmail.com" target="_blank"
                            class="flex align-items-center gap-2 no-underline text-white border-round border-1 border-400 px-3 py-2">
                            <app-icon name="gmail"></app-icon>
                            <span>Gmail</span>
                        </a>
                        <a href="https://github.com/CristianOrizano" target="_blank"
                            class="flex align-items-center gap-2 no-underline text-white border-round border-1 border-400 px-3 py-2">
                            <app-icon name="github"></app-icon>
                            <span>GitHub</span>
                        </a>
                        <a href="https://www.linkedin.com/in/cristian-orizano-1528a1311/" target="_blank"
                            class="flex align-items-center gap-2 no-underline text-white border-round border-1 border-400 px-3 py-2">
                            <app-icon name="linkedin"></app-icon>
                            <span>Linkedin</span>
                        </a>
                    </div>
                    <div class="w-full md:w-8 lg:w-9">
                        <p class="text-sm mt-3 mt-5 text-200">
                            Desarrollador Full Stack con interés en la innovación y el avance tecnológico. Poseo
                            experiencia en diversas tecnologías y herramientas, lo que me permite crear soluciones
                            eficientes y de alta calidad.
                    </div>
                </section>
            </div>
            <div class="col-12 md:col-5 overflow-hidden ">
                <img src="orizano10.jpeg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%); max-width: 80%;
                    height: auto;
                    object-fit: contain;">
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section id="about">
        <app-about></app-about>
    </section>

    <section id="skill">
        <app-skills></app-skills>
    </section>

    <section id="projects">
        <app-projects></app-projects>
    </section>
    <footer class="footer text-center mt-5 py-5">
        <p class="text-white footer">&copy; {{ currentYear }} Cristian Orizano. Todos los derechos reservados.</p>
    </footer>
</div>

<router-outlet />