li {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-optical-sizing: auto;
}
.custom-underline::after {
  content: "";
  display: block;
  height: 4px;
  width: 100px; /* puedes ajustar el ancho */
  margin: 0 auto;
  margin-top: 8px;
  background: linear-gradient(
    to right,
    #d9d7d7 0%,
    #ece8e8 50%,
    #ff512f 50%,
    #dd2476 100%
  );
}
