<h2 class="text-200 font-bold text-3xl text-center mt-8 relative custom-underline">
    Skills
</h2>
<div class="grid flex justify-content-center mt-4 p-4" data-aos="fade-right">
    <div class="col-12 md:col-12 border-round-2xl">
        <div class="grid flex justify-content-center gap-6 mb-5">
            <div class="col-6 sm:col-4 md:col-2 lg:col-1  border-round-2xl shadow-8 tech-card hover-zoom">
                <app-icon name="java" [size]="60"></app-icon>
                <p class="text-white font-medium  mt-2">Java</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1  border-round-2xl shadow-8 tech-card">
                <app-icon name="spring" [size]="60"></app-icon>
                <p class="text-white font-medium ">Spring Boot</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="net" [size]="60"></app-icon>
                <p class="text-white font-medium  mt-2">.NET Core</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="csharp" [size]="60"></app-icon>
                <p class="text-white font-medium  mt-2">C#</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-neon border-round-2xl shadow-8 tech-card">
                <app-icon name="nodejs" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">NodeJs</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-neon border-round-2xl shadow-8 tech-card">
                <app-icon name="express" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">Express</p>
            </div>
        </div>


        <div class="grid flex justify-content-center gap-6 mb-5">
            <div class="col-6 sm:col-4 md:col-2 lg:col-1  border-round-2xl shadow-8 tech-card">
                <app-icon name="nest" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">Nest Js</p>
            </div>
            <div class="col-6 sm:col-4 md:col-2 lg:col-1  border-round-2xl shadow-8 tech-card">
                <app-icon name="prisma" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">Prisma</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="jwt" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">JWT</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="sqlserver" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">SQL Server</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1  border-round-2xl shadow-8 tech-card">
                <app-icon name="mysql" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">MySQL</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="react" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">React</p>
            </div>
        </div>
        <div class="grid flex justify-content-center gap-6 mb-5">
            <div class="col-6 sm:col-4 md:col-2 lg:col-1  border-round-2xl shadow-8 tech-card">
                <app-icon name="vite" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">Vite</p>
            </div>
            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="angular" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">Angular</p>
            </div>
            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="primeNG" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">primeNG</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="javascript" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">javascript</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="ts" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">TypeScript</p>
            </div>

            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="docker" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">docker</p>
            </div>

        </div>
        <div class="grid flex justify-content-center gap-6 mb-5">
            <div class="col-6 sm:col-4 md:col-2 lg:col-1 border-round-2xl shadow-8 tech-card">
                <app-icon name="kafka" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">kafka</p>
            </div>
            <div class="col-6 sm:col-4 md:col-2 lg:col-1  border-round-2xl shadow-8 tech-card">
                <app-icon name="aws" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">AWS</p>
            </div>
            <div class="col-6 sm:col-4 md:col-2 lg:col-1  border-round-2xl shadow-8 tech-card">
                <app-icon name="tailwind" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">Tailwind CSS</p>
            </div>
            <div class="col-6 sm:col-4 md:col-2 lg:col-1  border-round-2xl shadow-8 tech-card">
                <app-icon name="git" [size]="60"></app-icon>
                <p class="text-white font-medium mt-2">Git</p>
            </div>
        </div>


    </div>
</div>