<h2 class="text-white text-center mt-8">Skills</h2>
<div class="grid flex justify-content-center mt-4 ">
    <div class="col-12 md:col-12 border-round bg-about shadow-8 p-5 ">
        <div class="grid flex justify-content-center gap-3 mb-5">
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8  flex flex-column align-items-center">
                <app-icon name="java"></app-icon>
                <p class="text-white font-medium">Java</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8  flex flex-column align-items-center">
                <app-icon name="spring"></app-icon>
                <p class="text-white font-medium">Spring</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8  flex flex-column align-items-center">
                <app-icon name="net"></app-icon>
                <p class="text-white font-medium">.Net core</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="csharp"></app-icon>
                <p class="text-white font-medium">C#</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="nodejs"></app-icon>
                <p class="text-white font-medium">NodeJs</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="express"></app-icon>
                <p class="text-white font-medium">Express</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="nest"></app-icon>
                <p class="text-white font-medium">NestJs</p>
            </div>
        </div>
        <div class="grid flex justify-content-center gap-3 mb-5">
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="prisma"></app-icon>
                <p class="text-white font-medium">Prisma</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="jwt"></app-icon>
                <p class="text-white font-medium">JWT</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="sqlserver"></app-icon>
                <p class="text-white font-medium">SqlServer</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="mysql"></app-icon>
                <p class="text-white font-medium">MySql</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="react"></app-icon>
                <p class="text-white font-medium">React</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="vite"></app-icon>
                <p class="text-white font-medium">Vite</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="angular"></app-icon>
                <p class="text-white font-medium">Angular</p>
            </div>
        </div>
        <div class="grid flex justify-content-center gap-3 mb-5">
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="primeNG"></app-icon>
                <p class="text-white font-medium">PrimeNg</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="javascript"></app-icon>
                <p class="text-white font-medium">javascript</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="ts"></app-icon>
                <p class="text-white font-medium">TypeScript</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="docker"></app-icon>
                <p class="text-white font-medium">Docker</p>
            </div>
            <div class="col-5 md:col-1 border-neon border-round bg-about shadow-8 flex flex-column align-items-center">
                <app-icon name="kafka"></app-icon>
                <p class="text-white font-medium">Kafka</p>
            </div>

        </div>
    </div>
</div>